:root{
  --primary:#f8fafc;
  --secondary:#93c5fd;
  --correct:#d9f99d;
  --wrong:#fecdd3;
  --options:#dbeafe;
}

body{
	font-size: 1.5rem;
	font-family: sans-serif;
	color: #333;
  text-align: center;
  background-color: var(--primary);
  display:flex;
  justify-content:center;
  align-items: center;
}

.container{
  border-radius:5%;
  border:solid 1px #ccc;
  padding:2%;
  margin:auto;
  width:80vw;
  height:80vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

h1{
  margin: 0.5rem auto;
  padding: 0.5rem;
  font-size: 2rem;
  background-color: var(--secondary);
  text-align:center;
  position:relative;
}

.question{
  font-size: 1.5rem;
  margin: 0.5em;
  padding: 0.5rem;
}

.answers {
  text-align: left;
  display: inline-block;
  margin: 0.2rem 0;
}

.answers label:hover{
  background-color: var(--secondary);
}
input[type=radio]:checked + label{
  background-color: var(--secondary) !important;
}
.answers label input{
  display:none;
}
.answers label{
  display: block;
  background:var(--options);
  border-radius:5%;
  padding:0.5rem;
  margin:0.5rem;
	cursor: pointer;
  font-size:1rem;
}

button{
  border-radius:5%;
  border:none;
	font-size: 1rem;
	background-color: var(--options);
	padding: 1rem;
	cursor: pointer;
	margin-bottom: 0.5rem;
}
button:hover{
	background-color: var(--secondary);;
  transition: background-color 0.5s;
}

.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 2;
}

/* .quiz-container{
  position:relative;
  display:block;
}

.navigation{
  position:relative;
  display:block;
}
.result{
  display:block;
} */

.red{
  background-color:var(--wrong) !important;
}
.green{
  background-color:var(--correct) !important;
}
.checked{
  background-color: var(--secondary) !important;
}